body{
    background-image: url("./images/BackgroundCeuLetras.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
   height: 100vh;
    
}
.pac-container:after{
    display:none !important;
    
}
.pac-icon {
    width: 0;
    background-image: none;
  }



.pac-item-query{
    
    color: rebeccapurple;
    
}  
span{
 
    opacity:0.5;
}
.pac-item-query{
    
    opacity: 1;
    
}  
.pac-matched{
    opacity: 1;
}
.botao{
    margin-top: 100px;
}
.bandeiras{
   
}
.iconeBrasil{
    width: 50px;
    height: 50px;
}